{% extends "govuk/template.njk" %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% if feComponents.jsIncludes %}
    {% for js in feComponents.jsIncludes %}
      <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
    {% endfor %}
  {% endif %}
  {% if feComponents.cssIncludes %}
    {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet"/>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}
{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}

  {# Govuk #}
  <script type="module" src="/assets/govuk/govuk-frontend.min.js"></script>
  <script type="module" src="/assets/govukFrontendInit.js"></script>

  {# MoJ #}
  <script src="/assets/moj/all.js"></script>
  <script type="module" src="/assets/mojFrontendInit.js"></script>

  {# DPR #}
  <script type="module" src="/assets/dpr/all.js"></script>
  <script type="module" src="/assets/dprFrontendInit.js"></script>
{% endblock %}
