{% from "dpr/components/card-group/view.njk" import dprCardGroup %}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "dpr/components/reports-list/view.njk" import dprReportsList %}
{% from "govuk/components/tabs/macro.njk" import govukTabs %}
{% from "dpr/components/user-reports/view.njk" import dprUserReports %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}

{% block main %}

<main class="app-container govuk-body dpr-home-wrapper"  id="main-content">
  <div class="dpr-heading-wrapper">
    <div class="govuk-width-container">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-1">DPR: {{ title }}</h1>
      <p class="govuk-body">Upload and preview report definitions</p>
      <a href='#reports-catalogue' class='govuk-body govuk-link govuk-link--no-visited-state'>Preview definitions catalogue</a>

      {% if errorMessage %}
        {{ govukErrorSummary({
          titleText: errorSummary,
          errorList: [
            {
              text: errorMessage
            }
          ]
        }) }}
      {% endif %}

  {% set uploadDefinition %}
  <div class="govuk-grid-row">
    <form id="upload-definition-form" action="/preview/upload?_csrf={{csrfToken}}" method="post" enctype="multipart/form-data">
      <div class="govuk-grid-column-one-third">
        {{ govukInput({
            id: "uploadDefinition",
            name: "uploadDefinition",
            type: "file",
            attributes: {
              accept: "application/json"
            }
          }) }}
      </div>
      <div class="govuk-grid-column-one-third">
        {{ govukButton({
            id: "upload-definition-form-submit",
            text: "Upload",
            type: "submit"
          }) }}
      </div>
    </form>
  </div>
  {% endset %}

  {% set deleteDefinition %}
  <div class="govuk-grid-row">
    <form action="/preview/delete" method="post">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div class="govuk-grid-column-one-third">
        {{ govukSelect({
            id: "deleteDefinition",
            name: "deleteDefinition",
            items: definitions
          }) }}
      </div>
      <div class="govuk-grid-column-one-third">
        {{ govukButton({
            text: "Delete",
            type: "submit"
          }) }}
      </div>
    </form>
  </div>

  {% endset %}

  {% set downloadDefinition %}
  <div class="govuk-grid-row">
    <form action="/preview/download" method="post">
      <input type="hidden" name="_csrf" value="{{csrfToken}}">
      <div class="govuk-grid-column-one-third">
        {{ govukSelect({
            id: "downloadDefinition",
            name: "downloadDefinition",
            items: definitions
          }) }}
      </div>
      <div class="govuk-grid-column-one-third">
        {{ govukButton({
            text: "Download",
            type: "submit"
          }) }}
      </div>
    </form>
  </div>

  {% endset %}

  {% set previewControlsHtml %}
  {{ govukAccordion({
      rememberExpanded: false,
      items: [
        {
          heading: {
            text: "Upload definition"
          },
          content: {
            html: uploadDefinition
          }
        },
        {
          heading: {
            text: "Delete definition"
          },
          content: {
            html: deleteDefinition
          }
        },
        {
          heading: {
            text: "Download definition"
          },
          content: {
            html: downloadDefinition
          }
        }
      ]
    }) }}
  {% endset %}

    {{ govukDetails({
      id: 'previewControls',
      summaryText: "Preview Controls",
      html: previewControlsHtml,
      classes: 'govuk-!-margin-top-3 govuk-!-margin-bottom-0'
    }) }}

    </div>
  </div>

  <div id="homepage-widget" class="dpr-reports-widget-wrapper">
    <div class="govuk-width-container">
      <h2 class="govuk-heading-m">My reports<h2>
        {{ dprUserReports({
          requestedReports: requestedReports,
          viewedReports: viewedReports,
          bookmarks: bookmarks
        })}}
    </div>
  </div>

  <div id="reports-catalogue" class="dpr-reports-wrapper">
    <div class="govuk-width-container">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Preview definitions catalogue</h2>

      {% set howToUseHtml %}
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Filtering the catalogue</h3>
        <p class="govuk-body">Filter the report catalogue by typing in the filter input box below. The catalogue will show listings that match your filter by name, description, type and product</p>
        
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Viewing a report</h3>
        <p class="govuk-body">Click on the name of the report to start a request to view a report</p>

        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Bookmarking a report</h3>
        <p class="govuk-body">If you regularly visit a report you can bookmark it for quick access. Clicking the bookmark icon next to the report will add it to your bookmarks. All your bookmarks will appear in the <a href="#homepage-widget" class="govuk-link govuk-link--no-visited-state">Bookmarks</a> section on the homepage</p>
      {% endset %}

      {{ govukDetails({
        summaryText: "How to use",
        html: howToUseHtml
      }) }}

      {{ dprReportsList(reports.head, reports.rows) }}
    </div>
  <div>
</main>

{% endblock %}
